<!DOCTYPE HTML>
<html>
    <head>
        <center><title>Horse or Human</title></center>
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

        <center><h1>Horse or Human</h1></center>
            <form action="/upload" method="post" enctype="multipart/form-data" >
                <center><span class="btn btn-default btn-file">
                    Browse <input type="file" name="image">
                </span>

                <input type="submit" value="Upload your image" class="btn btn-primary"></center>
            </form>
    </body>
</html>
