<!DOCTYPE HTML>
<html>
    <head>
        <center><title>Horse or Human</title></center>
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div id="home">

        <center><h1>Horse or Human</h1></center>
            <form action="/upload" method="post" enctype="multipart/form-data" >
                <center><span class="btn btn-default btn-file">
                    Browse <input type="file" name="image">
                </span>

                <input type="submit" onclick="hide(), myFunction()" value="Upload your image" class="btn btn-primary"></center>
            </form>
        </div>
        <div id="loader"></div>
            <div style="display:none;" id="myDiv" class="animate-bottom">
                {% if message %}
                 <center><p><strong>MESSAGE: </strong> {{ message }}</center>
                {% endif %}

            <form action="/">
                <center><input type="submit" value="Try again" class="btn btn-primary"></center>
            </form>
        </div>
    </body>
</html>
